* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-image: url("img/background.jpg");
}

#logo {
    width: 40%;
}
#dleft {
    padding-left: 10px;
    padding-top: 10px;
    width: 500px;
    height: 100%;
    position: absolute;
    left: 0;
    /*background: grey;*/
    
}
#leftcontainer {
    position: relative;
    width: inherit;
    height: 50%;

}
#aname {
    position: absolute;
    top: 60%;

}
#p1 {
    font-family: "Book Antiqua";
    font-size: 50px;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
}
#p2 {
    font-family: "Georgia";
    font-size: 20px;
    color:white;
    font-style: italic;
    margin-top: -5px;
}

/*РАМОЧКИ*/

#frames {
    margin-top: 20px;
    background: none;
    position: relative;
    width: 90px;
    height: 40px;
 }
 #read {
   position: absolute;
   color: white;
   font-family: "Georgia";
   top: 20%;
   left: 20%;
    }
   
#topleft, #topright, #bottomleft, #bottomright {
    width: 14px;
    height: 14px;
    border: 5px solid white;
 }
 #topleft {
   position: absolute;
   top:0;
   left: 0;
   border-right: none;
   border-bottom: none;
 }
  #topright {
   position: absolute;
   top:0;
   right: 0;
   border-left: none;
   border-bottom: none;
 }
   #bottomleft {
   position: absolute;
   bottom:0;
   left: 0;
   border-right: none;
   border-top: none;
}
   #bottomleft {
   position: absolute;
   bottom:0;
   left: 0;
}
   
   #bottomright {
   position: absolute;
   bottom:0;
   right: 0;
   border-left: none;
   border-top: none;
}
/*РАМОЧКИ*/

#dcenter {
    /*make scroll there*/
}
#dright {
    padding: 35px 35px 0 35px;
    width: 100px;
    height: 100%;
    position: absolute;
    right: 0;
    /*background: grey;*/
}

.menu {
    width:30px;
    height:24px;
    position:relative;
    display:inline-block;
    border-top:4px solid black;
}
	.menu:after, .menu:before {
	    content: '';
	    width: 100%;
	    height:4px;
	    background-color:#000;
	    position:absolute;
	}
	.menu:after {
	    bottom:0px;
	    left:0;
	}
	.menu:before {
	    top:6px;
	    left:0;
	}
