* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
background: lightgoldenrodyellow;

}
#logo {
    width: 40%;
}
#p1 {
    font-family: "Open Sans";
    font-size: 50px;
    color:white;
}
#p2 {
    font-family: "Georgia";
    font-size: 40px;
    color:white;
    font-style: italic;
}
#frame
{
    position: relative;
    width: 100px;
    height: 60px;
    background: white;
    /*border: 7px solid white;*/
}

#sq3mid {
    position: absolute;
    width: 80%;
    height: 66.67%;
    /*background: yellow;*/
    background: lightgrey;
    top: 17%;
    left: 10%;
}
#read {
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
    font-size:18px;
    color: white;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    line-height: 40px;
}

#sq1ve {
    position: absolute;
    width: 60%;
    height: 100%;
    /*background: red;*/
    background: lightgrey;
    position: absolute;
    top: 0;
    left: 20%;
    vertical-align: middle;
    text-align: center;
}

#sq2ho {
    position: absolute;
    width: 100%;
    height: 33%;
    /*background: green;*/
    background: lightgrey;
    position: absolute;
    top: 33%;
    left: 0;
    vertical-align: middle;
    text-align: center;
}

#dleft {
    padding-left: 10px;
    padding-top: 10px;
    width: 500px;
    height: 100%;
    border: 1px solid black;
    position: absolute;
    left: 0;
    background: lightgrey;
    
}
#dright {
    width: 100px;
    height: 100%;
    border: 1px solid black;
    position: absolute;
    right: 0;
    background: lightgrey;
}
